[submodule "submodules/smplx"]
	path = submodules/smplx
	url = git@github.com:ludekcizinsky/smplx.git
[submodule "submodules/human3r"]
	path = submodules/human3r
	url = git@github.com:ludekcizinsky/Human3R.git
[submodule "submodules/difix3d"]
	path = submodules/difix3d
	url = git@github.com:ludekcizinsky/Difix3D.git
[submodule "submodules/lhm"]
	path = submodules/lhm
	url = git@github.com:ludekcizinsky/LHM.git
[submodule "submodules/da3"]
	path = submodules/da3
	url = git@github.com:ludekcizinsky/Depth-Anything-3.git
[submodule "submodules/sam3"]
	path = submodules/sam3
	url = git@github.com:ludekcizinsky/sam3.git
[submodule "submodules/cvg-template"]
	path = submodules/cvg-template
	url = git@github.com:ludekcizinsky/CVG-Thesis-Template.git
