scene_name: ???
num_persons: ???
exp_name: ???
root_gt_dir_path: ???
preprocessing_dir: /scratch/izar/cizinsky/thesis/preprocessing/${scene_name}
output_dir: /scratch/izar/cizinsky/thesis/results/${scene_name}
input_data_dir: /scratch/izar/cizinsky/thesis/input_data
epochs: 150
batch_size: 5
lr: 1e-4
weight_decay: 5e-4
grad_clip: 0.1
sample_every: 5
eval_every_epoch: 25
train_params:
  - offset_xyz
  - rotation
  - scaling
  - opacity
  - shs
use_bbox_crop: true
bbox_pad: 50

# train
cameras_scene_dir: ${root_gt_dir_path}
frames_scene_dir: ${preprocessing_dir}
masks_scene_dir: ${root_gt_dir_path}
use_estimated_masks: false
smplx_params_scene_dir: ${preprocessing_dir}
depths_scene_dir: null  # ${root_gt_dir_path}  # set to null if no depths are used

# test
test_cameras_scene_dir: ${root_gt_dir_path}
test_frames_scene_dir: ${root_gt_dir_path}
test_masks_scene_dir: ${root_gt_dir_path}
test_smplx_params_scene_dir: ${root_gt_dir_path}
test_depths_scene_dir: null  # ${root_gt_dir_path}  # set to null if no depths are used

difix:
  eval_enable: false
  trn_enable: true
  is_prev_cam_always_source: false
  model_id: "nvidia/difix_ref"
  prompt: "remove degradation"
  negative_prompt: null
  num_inference_steps: 1
  timesteps: [199]
  guidance_scale: 0.0
  overwrite_existing: false
  resolution_multiple: 8

wandb:
  enable: true
  project: "hybrid-lhm"
  entity: "ludekcizinsky"
  tags:
    - using_est_smplx
    - using_v2_bas_difix
    - eval

loss_weights:
  rgb: 20.0
  sil: 4.0
  ssim: 0.4
  depth: 1.0

regularization:
  asap_w: 200.0
  acap_w: 200.0
  acap_margin: 0.01 # meters (1 cm)

eval_pretrain: true
nvs_eval:
  source_camera_id: 4
  target_camera_ids: [4, 16, 28, 40, 52, 64, 76, 88]
  downscale_factor: 2

torch_home: /scratch/izar/cizinsky/.cache
hf_home: /scratch/izar/cizinsky/.cache

hydra:
  run:
    dir: /scratch/izar/cizinsky/thesis/hydra/${now:%Y-%m-%d}_${now:%H-%M-%S}
  job:
    chdir: False
