scene_name: ???
num_persons: ???
exp_name: ???
output_dir: /scratch/izar/cizinsky/thesis/preprocessing/${scene_name}/lhm
epochs: 100
batch_size: 5
lr: 1e-4
weight_decay: 5e-4
grad_clip: 0.1
sample_every: 1
eval_every_epoch: 25
train_params:
  - offset_xyz
  - rotation
  - scaling
  - opacity
  - shs
use_bbox_crop: true
bbox_pad: 50


wandb:
  enable: true
  project: "hybrid-lhm"
  entity: "ludekcizinsky"
  tags:
    - v4

loss_weights:
  rgb: 20.0
  sil: 4.0
  ssim: 0.4
  depth: 10.0

regularization:
  asap_w: 200.0
  acap_w: 200.0
  acap_margin: 0.01 # meters (1 cm)

eval_pretrain: true
nvs_eval:
  source_camera_id: 4
  target_camera_ids: [4, 16, 28, 40, 52, 64, 76, 88]
  downscale_factor: 2
  root_gt_dir_path: ???

hydra:
  run:
    dir: /scratch/izar/cizinsky/thesis/hydra/${now:%Y-%m-%d}_${now:%H-%M-%S}
  job:
    chdir: False
