scene_name: ???
num_persons: ???
exp_name: ???
preprocessing_dir: /scratch/izar/cizinsky/thesis/preprocessing/${scene_name}
output_dir: /scratch/izar/cizinsky/thesis/results/${scene_name}
epochs: 150
batch_size: 5
lr: 1e-4
weight_decay: 5e-4
grad_clip: 0.1
sample_every: 5
eval_every_epoch: 25
train_params:
  - offset_xyz
  - rotation
  - scaling
  - opacity
  - shs
use_bbox_crop: true
bbox_pad: 50

difix:
  eval_enable: false
  trn_enable: true
  is_prev_cam_always_source: false
  model_id: "nvidia/difix_ref"
  prompt: "remove rendering artifacts from the novel view render; keep the subject, pose, and camera consistent with the reference view; preserve facial identity and refine facial details (eyes, nose, mouth, skin texture)"
  num_inference_steps: 1
  timesteps: [199]
  guidance_scale: 3.0
  overwrite_existing: false
  resolution_multiple: 8

wandb:
  enable: true
  project: "hybrid-lhm"
  entity: "ludekcizinsky"
  tags:
    - v7
    - eval

loss_weights:
  rgb: 20.0
  sil: 4.0
  ssim: 0.4
  depth: 1.0

regularization:
  asap_w: 200.0
  acap_w: 200.0
  acap_margin: 0.01 # meters (1 cm)

eval_pretrain: true
nvs_eval:
  source_camera_id: 4
  target_camera_ids: [4, 16, 28, 40, 52, 64, 76, 88]
  downscale_factor: 2
  root_gt_dir_path: ???

torch_home: /scratch/izar/cizinsky/.cache
hf_home: /scratch/izar/cizinsky/.cache

hydra:
  run:
    dir: /scratch/izar/cizinsky/thesis/hydra/${now:%Y-%m-%d}_${now:%H-%M-%S}
  job:
    chdir: False
