scene_name: ???
group_name: dev

# --- Debugging and visualization
debug: False # if true -> disable wandb logging
debug_vis_freq: 10
offset_along_z: 0.1 # whenever we are trying to compute new cam trajectory (for debug vis), offset the cameras along z axis by this value

# --- Preprocessing settings
is_preprocessing: False  # if true -> save sam masks to preprocessing folder

# --- Input / output paths
output_dir: /scratch/izar/cizinsky/thesis/output/${scene_name}
preprocess_dir:  /scratch/izar/cizinsky/multiply-output/preprocessing/data/${scene_name}  # path to the preprocessing folder
train_dir: ${output_dir}/training

# --- Evaluation settings
eval_ds_name: "hi4d"
gt_seg_masks_dir: null
gt_smpl_dir: null

# --- Training settings
num_workers: 8  # number of data loading workers
max_epochs: 400  # maximum number of training epochs
save_freq: 50 # frequency of checkpointing
resume: false
tids: [0, 1]
cloud_downsample: 30
batch_size: 1  # number of images per batch
train_bg: false
eval_every_epochs: 50

# --- General system settings to control memory usage and speed
# Device to use for training
device: cuda
# Resolution of the input video frames (width, height)
downscale: 1 
# Near and far clipping planes for rendering (meters)
# Anything with depth < near or > far is clipped out. Depth is normalized between these planes for rendering and for depth/normal outputs from the 2DGS rasterizer. 
near_plane: 0.01 # default: 0.01
far_plane: 1e10 # default: 1e10 
# if true -> use packed gaussian representation (more memory efficient, required for sparse grads)
packed: False 
# if true -> use absolute image-space gradients for pruning/growth (2DGS option)
absgrad: False
# if true -> request sparse gradients (requires packed=True, saves memory)
# If true, the gradients for {means, quats, scales} will be stored in a COO sparse layout. This can be helpful for saving memory. Default is False.
sparse_grad: False

# --- 2DGS densification settings
gs_refine_every: 100      # frequency of applying the densification strategy
gs_refine_stop_iter: 5000 # stop applying the densification strategy after these many iterations
gs_refine_start_iter: 1000 # default is normally 500

# --- 2DGS regularization
dist_loss: False          # enable distortion regularization from 2DGS renderer
dist_lambda: 1.0e-2       # weight for distortion loss once enabled
dist_start_iter: 3000     # iteration to start applying distortion loss
normal_loss: False        # enable normal consistency between rendered normals and depth normals
normal_lambda: 5.0e-2     # weight for normal consistency loss
normal_start_iter: 7000   # iteration to start applying normal consistency loss

# --- SMPL optimisation settings
pose_correction_epoch: 100
pose_opt_start_epoch: 100
pose_opt_end_epoch: 400
pose_opt_interval: 10
pose_opt_duration: 1
pose_lr_scale: 0.1
save_pose_overlays_every_epoch: 50
pose_overlay_alpha: 0.85
smpl_gender: neutral

# --- Loss and regularization weights
l1_lambda: 0.8
ssim_lambda: 0.8
alpha_lambda: 0.4
opacity_reg: 0.1
scale_reg: 0.1
lbs_knn: 30
interpenetration_margin: 0.01

mask_refinement:
  enabled: true
  alpha_threshold: 0.7
  alpha_threshold_warmup_refinements: 3
  reliability_threshold_tolerance: 0.1
  rebuild_every_epochs: 50
  rebuild_max_epoch: 10000000 # effectively no limit
  use_raw_smpl_until_epoch: 50
  sam2:
    model_id: facebook/sam2.1-hiera-large # options: hieara-tiny, hiera-small, hiera-base-plus, hiera-large
    device: cuda
    mask_threshold: 0.0
    multimask_output: true
    max_pos_points: 27
    max_neg_points: 37 # 27 + 10 random ones
    use_initial_mask: true
    n_iterations: 3

# --- Learning rates for the model parameters
# LR for 3D point positions
means_lr: 1.6e-4 
# LR for 3D point scale factors
scales_lr: 5e-3 
# LR for 3D point orientations (quaternions)
quats_lr: 1e-3 
# LR for 3D point opacities
opacities_lr: 5e-2 
# LR for 3D point colors (spherical harmonics coefficients)
sh_degree: 3 
sh0_lr: 2.5e-3 
shN_lr: 1.25e-4 
# LR for SMPL pose parameters
smpl_lr: 1.0e-3

depth_loss:
  start_epoch: 25
  end_epoch: 400
  interval: 16
  duration: 1
  depth_order_weight: 1.0
  interpenetration_weight: 0.0
  normalise_by_pixels: true
  decay_milestone: 1000

# --- Wandb logging settings
logger:
  project: master-thesis
  entity: ludekcizinsky
  tags: [dev]
  run_id: null # this is for resuming

# --- Hydra settings
hydra:
  run:
    dir: /scratch/izar/cizinsky/thesis/hydra/${now:%Y-%m-%d}_${now:%H-%M-%S}
  job:
    chdir: False
